.cards {
    margin-bottom: 4.5rem;
}

@media (min-width: 1100px) {
    .cards {
        margin-bottom: 4.5rem;
        display: grid;
        grid-template-areas: 
            'basic professional master';
        justify-content: center;
        align-items: center;
    }
}